In [ ]:
import pandas as pd
import numpy as np

In [ ]:
file_path = "/content/elektrik_veri_hashed.xlsx"
xls = pd.ExcelFile(file_path)

print("Sayfa İsimleri:", xls.sheet_names)

Sayfa İsimleri: ['Tahsilat', 'Tahsilat 1', 'Tahakkuk', 'Tahakkuk 1', 'Tahakkuk 2']

In [ ]:
df_tahsilat = pd.read_excel(xls, 'Tahsilat')
df_tahsilat_1 = pd.read_excel(xls, 'Tahsilat 1')
df_tahakkuk = pd.read_excel(xls, 'Tahakkuk') # Hamamözü
df_tahakkuk_1 = pd.read_excel(xls, 'Tahakkuk 1') # Gümüşhacıköy
df_tahakkuk_2 = pd.read_excel(xls, 'Tahakkuk 2') # Göynücek

In [ ]:
df_tahsilat.shape

(636993, 9)

In [ ]:
df_tahsilat_1.shape

(917632, 22)

In [ ]:
df_tahakkuk.shape

(124818, 10)

In [ ]:
df_tahakkuk_1.shape

(765657, 10)

In [ ]:
df_tahakkuk_2.shape

(295223, 10)

In [ ]:
df_tahsilat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636993 entries, 0 to 636992
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Şube                   636993 non-null  object
 1   Kasa                   636993 non-null  object
 2   İlçe                   636993 non-null  object
 3   Söz.hsp.(bağımsız)     636993 non-null  int64
 4   Tahsilat Tarihi        636993 non-null  datetime64[ns]
 5   Nakit Tahsilat         523 non-null     float64
 6   Mahsuben Tahsilat      7542 non-null    float64
 7   Kredi Kartı Tahsilatı  0 non-null       float64
 8   Banka Tahsilatı        628933 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(3)
memory usage: 43.7+ MB

In [ ]:
df_tahsilat.describe().T

,count,mean,min,25%,50%,75%,max,std
Söz.hsp.(bağımsız),636993.0,5019884374.87975,175832.0,2532887116.0,5008502097.0,7525722213.0,9999599851.0,2884434992.844679
Tahsilat Tarihi,636993,2024-03-05 09:26:07.644856320,2023-01-01 00:00:00,2023-07-28 00:00:00,2024-02-26 00:00:00,2024-09-30 00:00:00,2025-05-31 00:00:00,NaN
Nakit Tahsilat,523.0,694.966635,7.45,425.33,524.67,688.83,11373.74,758.319428
Mahsuben Tahsilat,7542.0,6180.182282,-34508.95,44.4775,290.41,2729.11,399526.78,23828.022593
Kredi Kartı Tahsilatı,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Banka Tahsilatı,628933.0,372.629109,0.01,120.0,208.0,322.0,606473.8,3265.430202

In [ ]:
df_tahsilat.head(10)

,Şube,Kasa,İlçe,Söz.hsp.(bağımsız),Tahsilat Tarihi,Nakit Tahsilat,Mahsuben Tahsilat,Kredi Kartı Tahsilatı,Banka Tahsilatı
0,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2023-11-06,NaN,8648.95,NaN,NaN
1,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2024-06-26,NaN,762.40,NaN,NaN
2,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2024-07-10,NaN,311.60,NaN,NaN
3,PTT,PTT/PV,TAŞOVA,4254955886,2023-01-19,NaN,NaN,NaN,130.5
4,PTT,PTT/PV,TAŞOVA,4254955886,2023-02-17,NaN,NaN,NaN,117.0
5,PTT,PTT/PV,TAŞOVA,4254955886,2023-03-16,NaN,NaN,NaN,130.0
6,PTT,PTT/PV,TAŞOVA,4254955886,2023-04-17,NaN,NaN,NaN,124.0
7,PTT,PTT/PV,TAŞOVA,4254955886,2023-05-18,NaN,NaN,NaN,121.0
8,PTT,PTT/PV,TAŞOVA,4254955886,2023-06-16,NaN,NaN,NaN,103.0
9,PTT,PTT/PV,TAŞOVA,4254955886,2023-07-19,NaN,NaN,NaN,167.0

In [ ]:
df_tahsilat_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 917632 entries, 0 to 917631
Data columns (total 22 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Mali yıl/dönem                        917632 non-null  object
 1   İl                                    917632 non-null  object
 2   İlçe                                  917632 non-null  object
 3   Söz.hsp.(bağımsız)                    917632 non-null  int64
 4   Hesap Sınıfı                          917632 non-null  object
 5   Tahakkuk Tutar                        917632 non-null  float64
 6   Son Ödeme Tarihinden Önceki Tahsilat  623908 non-null  float64
 7   Son Ödeme Tarihindeki Tahsilat        328193 non-null  float64
 8   Son Ödeme (1)                         20902 non-null   float64
 9   Son Ödeme (2)                         21664 non-null   float64
 10  Son Ödeme (3)                         18893 non-null   float64
 11  Son Ödeme (4)                         16995 non-null   float64
 12  Son Ödeme (5)                         7323 non-null    float64
 13  Son Ödeme (6-10)                      45708 non-null   float64
 14  Son Ödeme (10-20)                     48281 non-null   float64
 15  Son Ödeme (20-30)                     29005 non-null   float64
 16  Son Ödeme (30-60)                     23030 non-null   float64
 17  Son Ödeme (60-90)                     7184 non-null    float64
 18  Son Ödeme (90-120)                    3820 non-null    float64
 19  Son Ödeme (120-150)                   2302 non-null    float64
 20  Son Ödeme (150-180)                   1551 non-null    float64
 21  Son Ödeme (180+)                      4827 non-null    float64
dtypes: float64(17), int64(1), object(4)
memory usage: 154.0+ MB

In [ ]:
df_tahsilat_1.describe().T

,count,mean,std,min,25%,50%,75%,max
Söz.hsp.(bağımsız),917632.0,5.010893e+09,2.883691e+09,175832.00,2.513721e+09,5.009565e+09,7.509497e+09,9.999760e+09
Tahakkuk Tutar,917632.0,5.085794e+02,5.052666e+03,-12793.28,1.101500e+02,2.020700e+02,3.215700e+02,1.173258e+06
Son Ödeme Tarihinden Önceki Tahsilat,623908.0,2.063125e+02,2.855302e+03,-12793.28,3.200000e-01,4.422000e+01,2.102200e+02,7.992989e+05
Son Ödeme Tarihindeki Tahsilat,328193.0,5.472647e+02,3.898724e+03,0.00,1.166000e+02,2.109900e+02,3.342700e+02,4.290566e+05
Son Ödeme (1),20902.0,6.430614e+02,5.454365e+03,-70.00,1.256100e+02,2.220000e+02,3.499775e+02,3.932380e+05
Son Ödeme (2),21664.0,5.537099e+02,5.123757e+03,-296.93,1.129225e+02,2.110000e+02,3.330000e+02,3.191200e+05
Son Ödeme (3),18893.0,4.144389e+02,2.650055e+03,-120.60,1.190000e+02,2.030000e+02,3.200000e+02,1.523770e+05
Son Ödeme (4),16995.0,5.363638e+02,6.242187e+03,0.00,1.169050e+02,2.080700e+02,3.298650e+02,5.602390e+05
Son Ödeme (5),7323.0,5.160754e+02,3.451493e+03,-752.00,1.150000e+02,2.185400e+02,3.449850e+02,1.580045e+05
Son Ödeme (6-10),45708.0,5.586439e+02,6.666263e+03,-100.66,1.219050e+02,2.135900e+02,3.300000e+02,5.504209e+05
Son Ödeme (10-20),48281.0,5.835586e+02,7.178350e+03,-962.00,1.150000e+02,2.100000e+02,3.340000e+02,5.508598e+05
Son Ödeme (20-30),29005.0,8.010175e+02,7.154315e+03,0.00,1.090000e+02,2.208800e+02,3.824700e+02,6.942759e+05
Son Ödeme (30-60),23030.0,9.186178e+02,7.105334e+03,-6837.00,7.700000e+01,1.729550e+02,3.209875e+02,2.217815e+05
Son Ödeme (60-90),7184.0,1.257710e+03,2.007415e+04,-701.00,4.285750e+01,1.070000e+02,2.195575e+02,1.051591e+06
Son Ödeme (90-120),3820.0,6.716399e+02,5.979226e+03,-770.00,3.033000e+01,7.600000e+01,1.640000e+02,1.502340e+05
Son Ödeme (120-150),2302.0,3.221642e+02,3.220520e+03,-349.00,2.412500e+01,5.537000e+01,1.241300e+02,8.928568e+04
Son Ödeme (150-180),1551.0,3.933599e+02,5.264099e+03,0.00,2.300000e+01,4.900000e+01,1.065000e+02,1.694105e+05
Son Ödeme (180+),4827.0,1.597766e+02,2.619162e+03,-15206.88,1.347000e+01,3.200000e+01,7.600000e+01,1.410705e+05

In [ ]:
df_tahsilat_1.head(10)

,Mali yıl/dönem,İl,İlçe,Söz.hsp.(bağımsız),Hesap Sınıfı,Tahakkuk Tutar,Son Ödeme Tarihinden Önceki Tahsilat,Son Ödeme Tarihindeki Tahsilat,Son Ödeme (1),Son Ödeme (2),...,Son Ödeme (5),Son Ödeme (6-10),Son Ödeme (10-20),Son Ödeme (20-30),Son Ödeme (30-60),Son Ödeme (60-90),Son Ödeme (90-120),Son Ödeme (120-150),Son Ödeme (150-180),Son Ödeme (180+)
0,OCK 2023,AMASYA,GÖYNÜCEK,9374624783,Mesken,5.03,0.03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
1,OCK 2023,AMASYA,GÖYNÜCEK,236184905,Mesken,26.46,0.06,26.40,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OCK 2023,AMASYA,GÖYNÜCEK,9657731015,Mesken,121.53,NaN,NaN,NaN,121.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OCK 2023,AMASYA,GÖYNÜCEK,9554442880,Mesken,117.49,NaN,117.49,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OCK 2023,AMASYA,GÖYNÜCEK,6031642522,Mesken,170.30,170.30,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,OCK 2023,AMASYA,GÖYNÜCEK,9404715439,Mesken,132.63,NaN,132.63,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,OCK 2023,AMASYA,GÖYNÜCEK,3440240004,Mesken,38.29,38.29,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,OCK 2023,AMASYA,GÖYNÜCEK,3100056422,Ticari Faaliyet - Yazıhane,17.74,NaN,17.74,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,OCK 2023,AMASYA,GÖYNÜCEK,2949666469,Mesken,98.33,0.03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,98.3,NaN,NaN,NaN,NaN
9,OCK 2023,AMASYA,GÖYNÜCEK,7940140859,Mesken,290.04,290.04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_tahakkuk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124818 entries, 0 to 124817
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 124818 non-null  object
 1   ilce               124818 non-null  object
 2   sozlesme_hesap_no  124818 non-null  int64
 3   mali_yil_donem     124818 non-null  object
 4   fatura_tarihi      124818 non-null  object
 5   kayit_tarihi       124818 non-null  object
 6   vade_tarihi        124818 non-null  object
 7   hesap_sinifi       124818 non-null  object
 8   Hesap Sınıfı       124818 non-null  object
 9   kwh                124818 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 9.5+ MB

In [ ]:
df_tahakkuk.describe().T

,count,mean,std,min,25%,50%,75%,max
sozlesme_hesap_no,124818.0,5.044916e+09,2.874544e+09,2903944.00,2.577471e+09,5.027442e+09,7.594090e+09,9.991894e+09
kwh,124818.0,7.087462e+01,3.892179e+02,-1242.99,1.549000e+01,4.056000e+01,7.043000e+01,2.594160e+04

In [ ]:
df_tahakkuk.head(10)

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh
0,AMASYA,HAMAMÖZÜ,917576806,2023-01-01,2023-01-12,2023-03-06,2023-01-23,M001,Mesken,1.79
1,AMASYA,HAMAMÖZÜ,917576806,2023-01-01,2023-02-09,2023-05-11,2023-02-20,M001,Mesken,2.60
2,AMASYA,HAMAMÖZÜ,917576806,2023-02-01,2023-02-09,2023-05-11,2023-02-20,M001,Mesken,1.23
3,AMASYA,HAMAMÖZÜ,917576806,2023-02-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,2.56
4,AMASYA,HAMAMÖZÜ,917576806,2023-03-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,1.35
5,AMASYA,HAMAMÖZÜ,917576806,2023-03-01,2023-04-10,2023-05-24,2023-04-24,M001,Mesken,2.73
6,AMASYA,HAMAMÖZÜ,917576806,2023-04-01,2023-04-10,2023-05-24,2023-04-24,M001,Mesken,1.30
7,AMASYA,HAMAMÖZÜ,917576806,2023-04-01,2023-05-12,2023-06-19,2023-05-22,M001,Mesken,2.61
8,AMASYA,HAMAMÖZÜ,917576806,2023-05-01,2023-05-12,2023-06-19,2023-05-22,M001,Mesken,1.53
9,AMASYA,HAMAMÖZÜ,917576806,2023-05-01,2023-06-08,2023-07-19,2023-06-19,M001,Mesken,2.73

In [ ]:
df_tahakkuk_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765657 entries, 0 to 765656
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 765657 non-null  object
 1   ilce               765657 non-null  object
 2   sozlesme_hesap_no  765657 non-null  int64
 3   mali_yil_donem     765657 non-null  object
 4   fatura_tarihi      765657 non-null  object
 5   kayit_tarihi       765657 non-null  object
 6   vade_tarihi        765657 non-null  object
 7   hesap_sinifi       765657 non-null  object
 8   Hesap Sınıfı       765657 non-null  object
 9   kwh                765657 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 58.4+ MB

In [ ]:
df_tahakkuk_1.describe().T

,count,mean,std,min,25%,50%,75%,max
sozlesme_hesap_no,765657.0,5.019916e+09,2.881724e+09,256114.00,2.519995e+09,5.030422e+09,7.517065e+09,9.998331e+09
kwh,765657.0,9.733663e+01,1.077758e+03,-25370.64,1.857000e+01,4.831000e+01,8.272000e+01,1.535757e+05

In [ ]:
df_tahakkuk_1.head(10)

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh
0,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-01-01,2023-01-11,2023-03-06,2023-01-23,M001,Mesken,21.85
1,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-01-01,2023-02-10,2023-05-11,2023-02-20,M001,Mesken,44.50
2,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-02-01,2023-02-10,2023-05-11,2023-02-20,M001,Mesken,22.25
3,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-02-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,45.71
4,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-03-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,25.40
5,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-03-01,2023-04-08,2023-05-24,2023-04-18,M001,Mesken,58.95
6,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-04-01,2023-04-08,2023-05-24,2023-04-18,M001,Mesken,22.46
7,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-04-01,2023-05-11,2023-06-19,2023-05-22,M001,Mesken,70.01
8,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-05-01,2023-05-11,2023-06-19,2023-05-22,M001,Mesken,34.22
9,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-05-01,2023-06-09,2023-07-19,2023-06-19,M001,Mesken,51.51

In [ ]:
df_tahakkuk_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295223 entries, 0 to 295222
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 295223 non-null  object
 1   ilce               295223 non-null  object
 2   sozlesme_hesap_no  295223 non-null  int64
 3   mali_yil_donem     295223 non-null  object
 4   fatura_tarihi      295223 non-null  object
 5   kayit_tarihi       295223 non-null  object
 6   vade_tarihi        295223 non-null  object
 7   hesap_sinifi       295223 non-null  object
 8   Hesap Sınıfı       295223 non-null  object
 9   kwh                295223 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 22.5+ MB

In [ ]:
df_tahakkuk_2.describe().T

,count,mean,std,min,25%,50%,75%,max
sozlesme_hesap_no,295223.0,4.950566e+09,2.887724e+09,1118550.00,2.432854e+09,4.928206e+09,7.475616e+09,9.997185e+09
kwh,295223.0,8.966989e+01,7.422764e+02,-4208.64,1.786000e+01,4.509000e+01,7.714000e+01,1.056877e+05

In [ ]:
df_tahakkuk_2.head(10)

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh
0,AMASYA,GÖYNÜCEK,9374624783,2023-01-01,2023-01-14,2023-03-06,2023-01-24,M001,Mesken,0.10
1,AMASYA,GÖYNÜCEK,9374624783,2023-01-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.12
2,AMASYA,GÖYNÜCEK,9374624783,2023-02-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.20
3,AMASYA,GÖYNÜCEK,9374624783,2023-03-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.00
4,AMASYA,GÖYNÜCEK,9374624783,2023-04-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.08
5,AMASYA,GÖYNÜCEK,9374624783,2023-05-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.05
6,AMASYA,GÖYNÜCEK,9374624783,2023-06-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.00
7,AMASYA,GÖYNÜCEK,9374624783,2023-07-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.00
8,AMASYA,GÖYNÜCEK,9374624783,2023-08-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.00
9,AMASYA,GÖYNÜCEK,9374624783,2023-09-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.00

In [ ]:
hamamozu_musteri_sayisi = df_tahakkuk['sozlesme_hesap_no'].nunique()
gumushacikoy_musteri_sayisi = df_tahakkuk_1['sozlesme_hesap_no'].nunique()
goynucek_musteri_sayisi = df_tahakkuk_2['sozlesme_hesap_no'].nunique()

print(f"Hamamözü: {hamamozu_musteri_sayisi}")
print(f"Gümüşhacıköy: {gumushacikoy_musteri_sayisi}")
print(f"Göynücek: {goynucek_musteri_sayisi}")

Hamamözü: 2981
Gümüşhacıköy: 18190
Göynücek: 7128

In [ ]:
df_tahakkuk_toplam = pd.concat([df_tahakkuk, df_tahakkuk_1, df_tahakkuk_2], ignore_index=True)
df_tahakkuk_toplam.shape

(1185698, 10)

In [ ]:
# 1. Eksik (Missing) Değerlerin Tespiti
missing_kwh = df_tahakkuk_toplam['kwh'].isna().sum()
print(f"Eksik kwh Değeri Sayısı: {missing_kwh}")

# 2. Negatif Değerlerin Tespiti
negative_kwh = df_tahakkuk_toplam[df_tahakkuk_toplam['kwh'] < 0]
print(f"Negatif kwh Kayıt Sayısı: {len(negative_kwh)}")
print(f"En Düşük Negatif Değer: {df_tahakkuk_toplam['kwh'].min()} kWh")

# 3. Aşırı Uç (Outlier) Değerlerin Tespiti
# İstatistiksel özet ile aykırı değerleri (Max: 153,576) gözlemleyelim
print("\nkwh Sütunu İstatistiksel Özeti:")
print(df_tahakkuk_toplam['kwh'].describe())

# Belirli bir eşiğin (örneğin 10.000 kWh) üzerindeki aşırı değerlerin sayısı
outliers = df_tahakkuk_toplam[df_tahakkuk_toplam['kwh'] > 10000]
print(f"\n10.000 kWh üzerindeki aşırı uç kayıt sayısı: {len(outliers)}")

Eksik kwh Değeri Sayısı: 0
Negatif kwh Kayıt Sayısı: 151
En Düşük Negatif Değer: -25370.64 kWh

kwh Sütunu İstatistiksel Özeti:
count    1.185698e+06
mean     9.264207e+01
std      9.504052e+02
min     -2.537064e+04
25%      1.801000e+01
50%      4.662000e+01
75%      8.000000e+01
max      1.535757e+05
Name: kwh, dtype: float64

10.000 kWh üzerindeki aşırı uç kayıt sayısı: 974

In [ ]:
# Hesap sınıfına göre gruplandırma yaparak kwh istatistiklerini hesaplama
tuketim_ozet_tablo = df_tahakkuk_toplam.groupby('hesap_sinifi')['kwh'].agg(['mean', 'median', 'std']).reset_index()

# Sütun isimlerini daha anlaşılır hale getirelim
tuketim_ozet_tablo.columns = ['Hesap Sınıfı', 'Ortalama (kWh)', 'Medyan (kWh)', 'Standart Sapma']

# Sonuçları ortalamaya göre büyükten küçüğe sıralayalım
tuketim_ozet_tablo = tuketim_ozet_tablo.sort_values(by='Ortalama (kWh)', ascending=False)

print("--- Hesap Sınıfına Göre Tüketim İstatistikleri ---")
display(tuketim_ozet_tablo)

--- Hesap Sınıfına Göre Tüketim İstatistikleri ---

   Hesap Sınıfı  Ortalama (kWh)  Medyan (kWh)  Standart Sapma
6          A002    30203.431220     36810.900    16963.572539
0             1    16594.174857     16186.910    11656.705924
3             6    16155.254444       322.320    35926.424902
16         S001     7293.799626      1531.680    13716.343807
27         T012     5213.509281       400.020     8948.065839
34         TA02     3779.290533       282.720     9426.941321
4             7     1195.051389       770.625     1229.579483
25         T009     1154.739118       239.905     3804.865088
24         T008      883.888739       285.410     1435.311536
30         T019      688.441598        23.860     3911.912974
28         T013      676.935305       208.655     1212.334580
2             4      600.581235        78.270     3350.978976
1             3      579.850961       150.830     1693.273715
33         TA01      541.608449        16.150     3627.959619
35         TA03      430.637801       187.405     1131.991530
29         T017      395.160435        74.400      595.389083
21         T005      270.340000       228.680      148.809345
31         T020      183.485878        89.760      205.340833
18         T001      167.827953        41.600      781.762054
15         M009      167.135000        22.115      526.354274
19         T002      136.952881        28.420      798.495578
36         TA04      116.848021        24.110      408.549664
10         M003       93.101238        29.585      141.698975
17         SE01       87.035189        76.540       56.599681
26         T010       85.358306        79.375       42.120066
9          M002       81.283512        56.140      111.164648
13         M007       73.615948        73.865       39.066907
8          M001       55.590010        47.360       73.902931
22         T006       43.780576        13.520       74.313572
12         M006       34.289765         9.140       60.020356
5          A001       32.435252        13.940      112.225490
7          A003       31.951003        18.390       38.472449
32         T021       29.965663        15.760       41.331395
23         T007       22.997456         8.820       42.496725
11         M004       10.713755         5.625       16.453958
14         M008        9.097143         5.000        9.346247
20         T003        1.949375         0.095        3.138306